.acesso__masthead{
    width: 100%;
    height: 55rem;
    position: relative;
    background: image-url('templates/acesso/bg.jpg') 0 0/cover no-repeat;

    .acesso__box{
        display: inline-block;
        position: relative;
        top: 14.5rem;
        left: 12rem;
    }

    h1 {
        background: image-url('templates/acesso/travelplus-logo.png') 0 0/contain no-repeat;
        width: 18rem;
        height: 2rem;
        text-indent: -99999px;
        margin: 0 0 2rem;
    }

    .acesso__tabs{
        width: 100%;
        position: relative;
        overflow: hidden;
        left: 2rem;
    }

    .acesso__tabs--tab{
        margin: 0 1.8rem;
        display: inline-block;
        color: white;
        font-size: 1.15rem;
        font-family: $fontRegular;
        padding-bottom: .3rem;
        border-bottom:.4rem solid transparent;
        &.active {
            border-bottom:.4rem solid $link;
            color: $link;
        }
        &:first-child,&:last-child{
            margin: 0;
        }
    }

    span{
        display: inline-block;
        color: #474646;
        font-size: 1.1rem;
    }

    button {
        font-size: 1.2rem;
        background: #99cc00;
        height: 2.8rem;
        &:hover,&:focus, &:active{
            background: #739901;
            color:white;
            outline-color: #739901;
        }
    }
    label{
        width: 100%;
        display: block;
    }
    .acesso__input--text{
        background: white;
        border: 1px solid white;
        @include border-radius(4px);
        width: 100%;
        height: 2.37rem;
        margin-top: .4rem;
        @include box-sizing(border-box);
        padding: 0 10px;
        &:focus{
            border-color: $link;
            outline-color: $link;
            background: rgba($link, .1);
        }

        &.input--error{
            background: transparent;
            border-color: #FF3838;
            &:focus{
                border-color: #FF3838;
                background: rgba(#FF3838, .2);
                outline-color: #FF3838;
            }
        }
    }
}

.acesso__form {
    background: #ebebeb;
    width: 740px;
    padding: 25px;
    position: relative;
    left: 2rem;
    .row{
        margin-bottom: 1rem;
        &:last-child{
            margin-bottom: 0;
        }
    }
}