.viagens-de-lazer__masthead{
    position: relative;
    width: 100%;
    height: 25rem;
    color: white;
    overflow: hidden;

    &.fixed{
        position: fixed;
        top: 0;
        left: 4rem;
        width: auto;
        right: 4rem;
        z-index: 0;
    }

    .bullet-left{
        content: '';
        width: 5rem;
        height: .3rem;
        background: #fb6d00;
        display: inline-block;
        position: absolute;
        left: .2rem;
    }

    .bullet-top{
        content: '';
        display: inline-block;
        position: absolute;
        background: image-url('templates/home/bullet.png') 0 0/contain no-repeat;
        width: 4.6rem;
        height: 2.7rem;
        top: 12px;
    }
    .viagens-lazer__title{
        width: 40%;
    }
    .viagens-lazer__title span {
        text-transform: uppercase;
        text-shadow: .01em .01em 5px rgba(0,0,0,0.5);
    }
}

.viagens-de-lazer{
    min-height: 600px;

    div[class*="col-md-"]{
        padding-right: 15px;
        padding-left: 15px;
    }
    h2{
        color: #7d7e7e;
        font-size: 32.52px;
        font-weight: 300;
        text-align: left;
        margin-top: 30px;
    }
    .viagens-de-lazer__busca{
        color: #7d7e7e;
        margin-top: 30px;
        font-size: 18px;
        p{
            float: right;
        }
        .busca-texto{
            display: inline-block;
            margin-right: 10px;
        }
    }
    .col-md-4{
        margin-bottom: 40px;
    }
    .short-post {
        margin-top: 25px;
        h3{
            text-align: center;
            color:  #3f3f3f;
            font-size: 22px;
            line-height: 25px;
            height: 50px;
            overflow: hidden;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        .short-img{
            width: 100%;
            height: 230px;
            position: relative;
            img{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                border-radius: 2px;
            }
        }
        p{
            text-align: center;
            margin-top: 15px;
        }
        .info{
            color:  #3f3f3f;
            font-size: 14px;
            line-height: 20px;
            height: 40px;
            overflow: hidden;
            font-weight: 300;
            display: block;
            margin-bottom: 15px;
        }
        .price{
            color:  #3f3f3f;
            font-size: 18px;/* Approximation due to font substitution */
            font-weight: 300;
            display: block;
            margin-top: 15px;
        }
        .get-more{
            margin-top: 25px;
            display: inline-block;
            background-color: $link;
            border-bottom: 2px solid rgba(0,0,0,0.1);
            width: 170px;
            height: 38px;
            color: white;
            border-radius: 4px;
            position: relative;
            transition: all .0s ease;

            &:hover {
                border: 0;
                top: 1px;
            }
            &:focus, &:active{
                outline: 0;
                border-color:white;
            }

            span{
                display: block;
                text-transform: uppercase;
                color:  white;
                text-shadow: 0 0 10px rgba($link,1);
                font-size: 16.64px;/* Approximation due to font substitution */
                font-weight: 300;
                line-height: 38px;/* Approximation due to font substitution */
                transform: scaleX(1.0272);/* width and height properties ommitted due to transform */
            }
        }
    }

    .col-preco{
        text-align: right;
        color: $link;
        font-size: 32.52px;
        font-weight: 300;
        margin-top: 25px;
    }
    .internal-title{
        color: $link;
    }
    .descricao_destino{
        color: #797979;
        font-size: 18px;
    }
    .select-hotel {
        margin-top: 10px;

        h4{
            font-size: 18px;
            color: #797979;
            font-weight: bold;
        }
        p{
            font-size: 18px;
            color: #797979;
        }
    }
    .short-img-hotel{
        width: 200px;
        height: 130px;
        position: relative;
        float: left;
        margin-right: 25px;
        overflow: hidden;
        img{
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 2px;
        }
    }
}
[type="checkbox"].checkbox:not(:checked),
[type="checkbox"].checkbox:checked {
    position: absolute;
    left: -9999px;
    user-select: none;  
}
[type="checkbox"].checkbox:not(:checked) + label,
[type="checkbox"].checkbox:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
    float: right;
    margin-top: 35px;
}

/* checkbox aspect */
[type="checkbox"].checkbox:not(:checked) + label:before,
[type="checkbox"].checkbox:checked + label:before {
    content: '';
    position: absolute;
    left:0; 
    top: 1px;
    width: 30px; height: 30px;
    border: 1px solid #aaa;
    background: transparent;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    outline:0;
}
/* checked mark aspect */
[type="checkbox"].checkbox:not(:checked) + label:after,
[type="checkbox"].checkbox:checked + label:after {
    content: '✔';
    position: absolute;
    top: 6px; left: 2px;
    font-size: 30px;
    line-height: 0.8;
    color: $link;
    transition: all .2s;
    outline:0;
}

/* checked mark aspect changes */
[type="checkbox"].checkbox:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"].checkbox:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"].checkbox:disabled:not(:checked) + label:before,
[type="checkbox"].checkbox:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
    cursor: not-allowed;
}
[type="checkbox"].checkbox:disabled:checked + label:after {
    color: #999;
    cursor: not-allowed;
}
[type="checkbox"].checkbox:disabled + label {
    color: #aaa;
    cursor: not-allowed;
}
/* accessibility */
[type="checkbox"].checkbox:checked:focus + label:before,
[type="checkbox"].checkbox:not(:checked):focus + label:before {
    border: 1px dotted $link;
}

/* hover style just for information */
[type="checkbox"].checkbox:not(:disabled) + label:hover:before {
    border: 1px solid $link!important;
}

[type="checkbox"].checkbox.error:not(:disabled) + label:before {
    border: 1px solid #f05c58!important;
}
[type="checkbox"].checkbox.error:not(:disabled) + label {
    color: #f05c58;
}

[type="checkbox"].checkbox.valid:not(:disabled) + label:before {
    border: 1px solid #A1CF17!important;
}
[type="checkbox"].checkbox.valid:checked + label:after,
[type="checkbox"].checkbox.valid:not(:disabled) + label {
    color: #A1CF17;
}

.viagens-de-lazer-interna__contact{
    position: relative;
    width: 100%;
    height: 35rem;
    background: #eee;
    padding-top: 3rem;

    h2{
        font-family: proxima_novathin;
        text-align: right;
        color: #909090;
        font-size: 2.5rem;
        line-height: 3.2rem;
        margin: 6rem 4rem 0 0;
        text-transform: uppercase;
    }
}

.viagens-de-lazer-interna__label{
    color: #484747;
    display: block;
    span{
        font-family: $fontSemiBold;
        font-size: 1.3rem;
        display: block;
    }
}

.viagens-de-lazer-interna__input--text{
    background: transparent;
    border: 1px solid #c2c2c2;
    @include border-radius(6px);
    width: 100%;
    height: 38px;
    margin-top: .4rem;
    margin-bottom: 1.2rem;
    @include box-sizing(border-box);
    padding: 0 10px;
    &:focus{
        border-color: $link;
        outline: 0;
        background: rgba($link, .1);
    }
    &.input--error{
        background: transparent;
        border-color: #FF3838;
        &:focus{
            border-color: #FF3838;
            background: rgba(#FF3838, .2);
            outline-color: #FF3838;
        }
    }
}

.viagens-de-lazer-interna__form--message{
    display: none;
    text-align: center;
    margin: 2rem 0 19rem;

    h3{
        color: white;
        font-size: 1.6rem;
        margin: 0 0 2rem; 
    }
}