<div class="fale-conosco-masthead">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 class="fale-conosco__title animation__masthead--title">
                <span>FALE<br>CONOSCO</span>
            </h1>

            <div class="row text-shadow">
                <div class="col-md-8">
                    <form class="fale-conosco__form">
                        <p class="fale-conosco__desc">Deixe seus dados abaixo, nosso especialista de contas<br>entrará em contato em até 24h.</p>
                        <div class="fale-conosco__left">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="fale-conosco__label">
                                        <span>Nome:</span>
                                        <input type="text" name="Nome:" autofocus maxlength="200" tabindex="" class="fale-conosco__input--text name required">
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <label class="fale-conosco__label">
                                        <span>Telefone:</span>
                                        <input type="text" name="Telefone:" tabindex="" maxlength="15" class="fale-conosco__input--text phone required">
                                    </label>    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="fale-conosco__label">
                                        <span>E-mail:</span>
                                        <input type="text" name="Email:" tabindex="" maxlength="200" class="fale-conosco__input--text email required">
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <label class="fale-conosco__label">
                                        <span>Empresa:</span>
                                        <input type="text" name="Empresa:" tabindex="" maxlength="200" class="fale-conosco__input--text company required">
                                    </label>    
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="fale-conosco__label">
                                        <span>Mensagem:</span>
                                        <textarea type="text" name="Mensagem:" tabindex="" maxlength="1000" class="fale-conosco__input--textarea message required"></textarea>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="submit" class="btn">ENVIAR CONTATOS</button>
                                </div>    
                            </div>
                        </div>

                        <input type="hidden" name="EmailDestino" value="tpt@travelplustur.com.br">
                        <input type="hidden" name="HTMLResposta" value="http://www.travelplustur.com.br/#/fale-conosco?email=sucesso">
                        <input type="hidden" name="Assunto" value="CONTATO VIA SITE">
                    </form>

                    <div class="fale-conosco__form--message">
                        <h3>Sua mensagem foi enviada com sucesso!</h3>
                        <button class="btn btn-inline-block fale-conosco__send-new">Enviar uma nova</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="fale-conosco__info">(11) 3549-5050</p>
                    <p class="fale-conosco__info"><a href="mailto:tpt@travelplustur.com.br" title="Mande um e-mail">tpt@travelplustur.com.br</a></p>
                    <p class="fale-conosco__info">Rua Luís Coelho, 340 • cj. 31<br>Bela Vista • São Paulo - SP</p>
                </div> 
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
