<div class="masthead" data-0="background:black">
    <div class="masthead__cover" data-0="opacity:1" data-1200="opacity:0"></div>
    <div class="masthead__title" data-0="opacity:1" data-1200="opacity:0">
        <h1>
            <span>VIAGENS<br>CORPORATIVAS</span>
            <div class="masthead__title--before"></div>
            <div class="masthead__title--after"></div>
        </h1>
    </div>

    <div class="down"></div>
</div>

<div class="home__overview">
    <div class="row">
        <div class="col-md-6">

            <div class="home_margin-left-right">
                <a href="#" title="Clique para assistir nosso vídeo" class="home__play" data-bottom-top="opacity: 0; top:-70px" data-center="opacity:1; top:0;">ASSISTA<br>NOSSO VÍDEO</a>

                <div class="home__image--01" data-bottom-top="opacity: 0;" data-center="opacity:1;">
                    <img data-bottom-top="opacity: 0; left:-200px; position:relative" data-center="opacity: 1; left:0" src="{{config.urls.site}}images/templates/home/img-01.jpg" alt="" width="100%">
                    <div class="home__image--01-after" data-bottom-top="left:5rem;" data-center="left:-2.5rem"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="margin-right-3">
                <h2 class="home__title margin-top-70" data-bottom-top="opacity: 0;" data-center="opacity:1;">
                    <span data-bottom-top="opacity: 0; position: relative; top:-70px" data-center="opacity:1; top:0;">SELF BOOKING<br>CORPORATIVO</span>
                    <div class="home__title-after" data-bottom-top="opacity: 0; bottom:6rem" data-center="opacity:1; bottom:0;"></div>
                </h2>

                <p class="home__desc" data-bottom-top="opacity: 0; right:-100px; position:relative" data-center="opacity:1; right:0;">Sistema que integra todas as empresas aéreas e mais de 5.000 hotéis em uma só ferramenta.</p>

                <h2 class="home__title">
                    <span data-bottom-top="opacity: 0; right:-100px; position:relative" data-center="opacity:1; right:0;">BACK OFFICE</span>
                    <div class="home__title-after" data-bottom-top="opacity: 0; bottom:2rem; left:6rem" data-center="opacity:1; bottom: 0;left:0;"></div>
                </h2>
                
                <p class="home__desc" data-bottom-top="opacity: 0; right:-100px; position:relative" data-center="opacity:1; right:0;">Sistema de gerenciamento administrativo financeiro que permite o controle das viagens de sua empresas por meio de relatórios gerenciais  e faturas on-line.</p>
            </div>
        </div>
    </div>

    <div class="row home__pattern">

        <div class="col-md-5">
            <div class="home__consultores" data-bottom-top="left:-300px; position:relative" data-center="left:0">
                <h2 class="home__title" data-bottom-top="opacity:0" data-center="opacity:1">CONSULTORES</h2>

                <div class="home__desc" data-bottom-top="opacity:0" data-center="opacity:1">
                    <p>Profissionais com mais de 15 anos de experiência no segmento, contamos com departamentos distintos, porém integrados que nos permite conhecer e entender o perfil de todos os  nossos clientes através de uma constante atualização no nosso CRM (Customer Relationship Management).</p>
                    <p>Hoje nosso time de atendimento Corporativo presta consultoria aos executivos em suas viagens de negócios.</p>
                    <p>Nossa equipe de Lazer é exclusiva para atender as viagens particulares e férias dos mesmos e suas famílias, além da equipe de Eventos responsável por sustentar, apoiar os eventos e convenções de negócios de nossos clientes.</p>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-9">
                    <div class="home__image--02" data-bottom-top="opacity: 0;" data-center="opacity:1;">
                        <div>
                            <img data-bottom-top="top:500px;opacity:0; position:relative" data-center="top:0;opacity:1;" src="{{config.urls.site}}images/templates/home/img-02.jpg" alt="" width="100%">
                        </div>

                        <div class="home__image--02-after" data-bottom-top="top:-12rem;opacity:0;" data-center="top:-2.5rem;opacity:1;"></div>   
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

    </div>

    <div class="row home__bottom">
        <div class="row">

            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="home__title--thin"><span data-bottom-top="opacity: 0; left:-200px;position:relative" data-center="opacity:1; left:0">EVENTOS &<br>CONGRESSOS</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <ul class="home__list" data-bottom-top="top:60px;position:relative;opacity:0" data-center="top:0;opacity:1">
                            <li>Equipe especializada;</li>
                            <li>Negociação de grupos com fornecedores aéreos e terrestres;</li>
                            <li>Fretamento de aeronaves;</li>
                            <li>Centralização do atendimento e responsabilidades;</li>
                            <li>Telemarketing ativo e receptivo;</li>
                            <li>Controle de rooming list;</li>
                            <li>Emissão de e-tickets e vouchers;</li>
                            <li>Assistência a embarque e recepção dos participantes;</li>
                            <li>Coordenação logística de transfer.</li>
                        </ul>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12 home__image--03">
                        <img data-bottom-top="top:-200px;position:relative" data-center="top:0" src="{{config.urls.site}}images/templates/home/img-03.jpg" alt="" width="100%">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="home__image--04" data-bottom-top="top:200px;position:relative;opacity:0" data-center="top:0;opacity:1">
                            <div class="home__image--04-before" data-bottom-top="top:-10rem;opacity:0" data-center="top:2rem;opacity:0.4"></div>
                            <img src="{{config.urls.site}}images/templates/home/img-04.jpg" alt="" width="100%">
                            <div class="home__image--04-after" data-bottom-top="top:6rem;opacity:0" data-center="top:1.2rem;opacity:0.4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" data-bottom-top="top:100px;position:relative;opacity:0" data-center="top:0;opacity:1">
            <h2 class="home__title--contact">FALE CONOSCO</h2>
            
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <form class="row home__form">
                        <div class="col-md-3">
                            <label class="home__label">
                                <span>Nome:</span>
                                <input type="text" name="name" tabindex="40" maxlength="200" class="home__input--text name required" autofocus>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="home__label">
                                <span>Telefone:</span>
                                <input type="text" name="phone" tabindex="41" maxlength="15" class="home__input--text phone required">
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="home__label">
                                <span>E-mail:</span>
                                <input type="text" name="email" tabindex="42" maxlength="200" class="home__input--text email required">
                            </label>
                        </div>
                        <div class="col-md-1">
                            <button type="submit" name="send" tabindex="43" title="OK" class="home__input--submit">OK</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="home__form--message">
                    <h3>Suas informações foram enviadas com sucesso!</h3>
                    <button class="btn btn-inline-block home__send-new">Enviar outras</button>
                </div>
            </div>

            <div class="row home__bottom--info">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4"><span>(11) 3549-5050</span></div>
                        <div class="col-md-4"><span><a title="Mande um e-mail" href="mailto:tpt@travelplustur.com.br" tabindex="44">tpt@travelplustur.com.br</a></span></div>
                        <div class="col-md-4"><span>Rua Luís Coelho, 340 • cj. 31<br>Bela Vista • São Paulo - SP</span></div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>

    </div>
</div>
