<div class="sobre__masthead opacity-0">
    <h1 class="sobre__title animation__masthead--title text-shadow">
        <span>SOBRE A<br>TRAVEL EXCELLENCE</span>
    </h1>
</div>

<div class="row sobre__video">
    <div class="col-md-12" data-bottom-top="opacity: 0;top:15rem;position:relative;" data-center="opacity:1;top:0;">
        <p>A Travel Excellence Turismo é uma consultoria especializada em viagens Corporativas que atua com a missão de atender os executivos e colaboradores das empresas em seus deslocamentos dentro e fora do Brasil.</p> 

        <p>Nossa meta é atender as necessidades do nosso cliente, apoiando-o com excelência na elaboração do roteiro de acordo com o projeto da sua viagem. Atuamos para que sua viagem seja focada apenas no que é mais importante, o seu trabalho.</p>
    </div>
    
</div>

<div class="row sobre__carousel">
    <div class="col-md-12">
        <h2 data-bottom-top="opacity: 0;top:10rem;position:relative;" data-center="opacity:1;top:0;">ALGUNS CLIENTES</h2>

        <ul data-bottom-top="opacity: 0;top:10rem;position:relative;" data-center="opacity:1;top:0;">
            <li><img src="{{config.urls.site}}images/templates/sobre/anixer.jpg" width="100%" alt="Anixer"></li>
            <li><img src="{{config.urls.site}}images/templates/sobre/datalogic.jpg" width="100%" alt="Datalogic"></li>
            <li><img src="{{config.urls.site}}images/templates/sobre/dkt.jpg" width="100%" alt="DKT"></li>
            <li><img src="{{config.urls.site}}images/templates/sobre/sonosite.jpg" width="100%" alt="Sonosite"></li>
            <li><img src="{{config.urls.site}}images/templates/sobre/waters.jpg" width="100%" alt="Waters"></li>
            <li><img src="{{config.urls.site}}images/templates/sobre/mtel.jpg" width="100%" alt="MTel"></li>
            <li><img src="{{config.urls.site}}images/templates/sobre/tdec.jpg" width="100%" alt="TDec"></li>
        </ul>
    </div>
</div>

<div class="row sobre__contact">
    <div class="col-md-6 sobre__form--box" data-bottom-top="opacity: 0;top:10rem;position:relative;" data-center="opacity:1;top:0;">
        <h2>AINDA NÃO É<br>
        CLIENTE?</h2>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <p>Deixe seus dados, nosso especialista de contas entrará em contato em até 24h.</p>  
            </div>
        </div>
    </div>
    <div class="col-md-6" data-bottom-top="opacity: 0;top:10rem;position:relative;" data-center="opacity:1;top:0;">
        <form action="" class="sobre__form sobre__form--box">
            <div class="row">
                <div class="col-md-12">
                    <label class="sobre__label">
                        <span>Nome:</span>
                        <input type="text" name="name" maxlength="200" autofocus tabindex="" class="sobre__input--text name required">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="sobre__label">
                        <span>Telefone:</span>
                        <input type="text" name="phone" maxlength="15" tabindex="" class="sobre__input--text phone required">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="sobre__label">
                        <span>E-mail:</span>
                        <input type="text" name="email" maxlength="200" tabindex="" class="sobre__input--text email required">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="sobre__label">
                        <span>Empresa:</span>
                        <input type="text" name="company" maxlength="200" tabindex="" class="sobre__input--text company required">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-inline-block" type="submit">RECEBER CONTATO</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <div class="sobre__form--message">
            <h3>Suas informações foram enviadas com sucesso!</h3>
            <button class="btn btn-inline-block sobre__send-new">Enviar outras</button>
        </div>
    </div>
</div>
