<div class="viagens-lazer__masthead opacity-0">
    <h1 class="viagens-lazer__title animation__masthead--title">
        <span>VIAGENS DE<br>LAZER</span>
    </h1>
</div>

<div class="row viagens-lazer__info">
    <div class="col-md-6 viagens-lazer__info--left">
        <div class="col-md-2"></div>
        <div class="col-md-10 viagens-lazer__image--top" data-bottom-top="opacity: 0;top:15rem;position:relative;left:-15rem" data-center="opacity:1;top:0;left:0">
            <img src="{{config.urls.site}}images/templates/viagens-lazer/demo-01.jpg" alt="" width="90%">
        </div>
    </div>
    <div class="col-md-6 viagens-lazer__info--right" data-bottom-top="opacity: 0;top:15rem;position:relative;left:15rem" data-center="opacity:1;top:0;left:0">
        <p>Nosso departamento de Lazer foi criado para atender exclusivamente nossos clientes em suas viagens. Se a ideia é descansar, relaxar, conhecer novos roteiros e ter experiências marcantes, nós estamos prontos para atendê-lo. Atuamos em parceria com  o departamento de Recursos Humanos dos nossos clientes, oferecendo aos colaboradores opções de pacotes com descontos.</p> 

        <p>Divulgamos estas ofertas através de e-mail marketing aos colaboradores cadastrados em conosco. Enjoy!!</p>
    </div>
</div>
<div class="row viagens-lazer__contact">
    <div class="col-md-6">
        <h2 data-bottom-top="opacity: 0;top:-10rem;position:relative;" data-center="opacity:1;top:0;">APROVEITE<br>OS BENEÍCIOS<br>TRAVEL EXCELLENCE</h2>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8" data-bottom-top="opacity: 0;top:10rem;position:relative;" data-center="opacity:1;top:0;">
                <p>Deixe seus dados, nosso especialista de contas entrará em contato em até 24h.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <form action="" class="viagens-lazer__form" data-bottom-top="opacity: 0;left:15rem;position:relative;" data-center="opacity:1;left:0;">
            <div class="row">
                <div class="col-md-12">
                    <label class="viagens-lazer__label">
                        <span>Nome:</span>
                        <input type="text" name="name" maxlength="200" autofocus tabindex="" class="viagens-lazer__input--text name required">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="viagens-lazer__label">
                        <span>Telefone:</span>
                        <input type="text" name="phone" maxlength="15" tabindex="" class="viagens-lazer__input--text phone required">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="viagens-lazer__label">
                        <span>E-mail:</span>
                        <input type="text" name="email" maxlength="200" tabindex="" class="viagens-lazer__input--text email required">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="viagens-lazer__label">
                        <span>Empresa:</span>
                        <input type="text" name="company" maxlength="200" tabindex="" class="viagens-lazer__input--text company required">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-inline-block" type="submit">RECEBER CONTATO</button>
                </div>
            </div>
        </form>
        <div class="viagens-lazer__form--message">
            <h3>Suas informações foram enviadas com sucesso!</h3>
            <button class="btn btn-inline-block viagens-lazer__send-new">Enviar outras</button>
        </div>        
    </div>
</div>
