<div class="viagens-lazer__masthead opacity-0">
    <h1 class="viagens-lazer__title animation__masthead--title">
        <span>VIAGENS<br>DE LAZER</span>
        <div class="bullet-left"></div>
        <div class="bullet-top"></div>
    </h1>
</div>

<div class="viagens-lazer__info viagens-de-lazer">
    <div class="row">
        <div class="col-md-6">
            <h2>Conheça nossos pacotes</h2>
        </div>
        <div class="col-md-6 viagens-de-lazer__busca">
            <p>
                <span class="busca-texto">Para onde você quer ir?</span>
                <select id="selectChosen"></select>
            </p>
        </div>
    </div>

    <div class="row short-post">
        
    </div>
</div>