$fontLight:         'proxima_novalight';
$fontRegular:       'proxima_nova_rgregular';
$fontSemiBold:      'proxima_novasemibold';
$fontThin:          'proxima_novathin';

// Color
$link:				#31d1e8;
$error:             #f62929;
$white-light:       #f6f6f6;
$blue:              #64b5f6;
$blue-soft:         #44b1d7;
$blue-grey:         #72a0bb;
$red:               #cd2f27;
$blue-fb:           #3b5998;
$transparent:       rgba(215, 215, 215, 0);
$white:             #fff;
$black:             #000;
$grey-light:        #eee;
$grey:              #666;
$blue-white:        #9bcbde;
$blue-black:        #004466;
$blue-light:        #3388aa;
$grey-soft:         #d8d8d8;
$grey-classic:      #ccc;
$grey-thin:         #aaa;
$shadow-fb:         #203767;
$shadow-red:        #a40216;

//devices
$mobile:            320px;
$tablet:            768px;
$desktop:           990px;
$wide:              1280px;             