<div class="acesso__masthead">
    <div class="acesso__box">
        <h1>Travel Plus</h1>
        <div class="acesso__tabs">
            <a href="javascript:;" class="acesso__tabs--tab active">SELF BOOKING WTS</a>
            <a href="javascript:;" class="acesso__tabs--tab">RELATÓRIOS</a>
            <a href="https://www.e-corporateplus.com.br/travelplus/loginTMS.aspx?EscolheCliente=false&ClienteId=b4fc0fc8-d877-4312-b8ae-812bc976bad2" class="acesso__tabs--tab" target="_blank">SELF BOOKING TMS</a>
        </div>
        <div class="acesso__form">
            <div>
                <iframe src="http://www3.webtravelsolutions.net/integracao-login/corporateHB.html" width="690px" height="120px" frameborder="0" scrolling="no"> </iframe>
            </div>
            <div style="display:none;margin:auto;width:130px">
                <iframe src="https://www.digirotas.com/rweb/app_rweb_tela_login?ide=57131" width="auto" height="120px" frameborder="0" scrolling="no"> </iframe>
            </div>
        </div>
    </div>
</div>