<div class="para-viagem__masthead opacity-0">
    <h1 class="para-viagem__title animation__masthead--title">
        <span>PARA SUA<br>VIAGEM</span>
        <div class="bullet-left"></div>
        <div class="bullet-top"></div>
    </h1>
</div>

<div class="row para-viagem__services">
    <div class="col-md-6 para-viagem__gray">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10 para-viagem__image--top" data-bottom-top="opacity: 0; left: -15rem;" data-center="opacity:1; left: 0;">
                <img src="{{config.urls.site}}images/templates/para-viagem/demo-01.jpg" alt="" width="90%">
                <div class="para-viagem__image--top-after" data-bottom-top="opacity: 0; left: 80rem;" data-center="opacity:1; left: 0.4rem;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5" data-bottom-top="opacity: 0;postion:relative;left:15rem" data-center="opacity:1;left:0">
        <h2 class="para-viagem__subtitle">SERVIÇOS ON-LINE</h2>

        <p class="para-viagem__desc">Acesse aqui as duas opções de self-booking e relatórios gerenciais</p>

        <div class="row">
            <button class="btn btn-inline-block" onclick="window.location=&quot;#acesso&quot;">ACESSE A ÁREA DO CLIENTE</button>
        </div>
    </div>    
</div>

<div class="row para-viagem__gray">
    <div class="col-md-12 para-viagem__white">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 para-viagem__white">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10" data-bottom-top="opacity: 0;postion:relative;left:15rem" data-center="opacity:1;left:0">
                        <h2 class="para-viagem__subtitle">CÂMBIO</h2>

                        <p class="para-viagem__desc">Contamos com uma parceria para taxas diferenciadas de câmbio e atendimento. <a href="https://www.cotacao.com.br/1987/comprar-online.html" target="_blank" title="Clique aqui para adquirir sua moeda estrangeira."><b>Clique aqui</b></a> para adquirir sua moeda estrangeira com segurança e conveniência.</p>

                        <div class="row">
                            <div class="col-md-12">
                                <form class="row para-viagem__form para-viagem__form--1">
                                    <div class="col-md-8">
                                        <input type="text" name="email" maxlength="200" tabindex="" placeholder="Digite seu melhor e-mail" class="para-viagem__input--text email required">
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-inline-block btn-primary" type="submit" title="Clique para enviar o e-mail e saber mais">Saiba mais</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <div class="row para-viagem__form--message para-viagem__form--1"><h3>E-mail cadastrado com sucesso!</h3></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row para-viagem__white">
    <div class="col-md-6 para-viagem__gray">
        <div class="row">
            <div class="col-md-10 para-viagem__image--bottom" data-bottom-top="opacity: 0;top:10rem" data-center="opacity:1;top:0">
                <img src="{{config.urls.site}}images/templates/para-viagem/demo-02.jpg" alt="" width="100%">
                <div class="para-viagem__image--bottom-after" data-bottom-top="opacity: 0;bottom:30rem" data-center="opacity:1;bottom:-3rem"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 para-viagem__bottom" data-bottom-top="opacity: 0;postion:relative;left:15rem" data-center="opacity:1;left:0">
        <h2 class="para-viagem__subtitle">SEGURO VIAGEM</h2>

        <p class="para-viagem__desc">Para uma viagem internacional sem preocupação, é primordial a aquisição do Seguro Viagem para se isentar dos altos custos em caso de necessidade com Assistência Médica, Dentaria, Hospitalar, Jurídica, entre outras no exterior. Além disso, todos os países da Europa que fazem parte do tratado de Schengen, exigem um seguro viagem específico. <a href="http://coris-emissoes.com.br/b2w_v4/auth/default.asp?id=3945&user=B2W3945&key=16413945" target="_blank" title="Clique aqui, adquira o seu."><b>Clique aqui</b></a>, adquira o seu.</p>

        <div class="row">
            <div class="col-md-12">
                <form class="row para-viagem__form para-viagem__form--2">
                    <div class="col-md-8">
                        <input type="text" name="email" maxlength="200" tabindex="" placeholder="Digite seu melhor e-mail" class="para-viagem__input--text email required">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-inline-block btn-primary" type="submit" title="Clique para enviar o e-mail e saber mais">Saiba mais</button>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <div class="row para-viagem__form--message para-viagem__form--2"><h3>E-mail cadastrado com sucesso!</h3></div>
            </div>
        </div>
    </div>
</div>