<div class="para-empresa__masthead opacity-0">
    <h1 class="para-empresa__title animation__masthead--title">
        <span>PARA SUA<br>EMPRESA</span>
        <div class="bullet-left"></div>
        <div class="bullet-top"></div>
    </h1>
</div>

<div class="row para-empresa__badges">
    <div class="col-md-4 para-empresa__legend" data-bottom-top="opacity: 0;top:15rem;position:relative" data-center="opacity:1;top:0">
        <div class="para-empresa__badge"><img src="{{config.urls.site}}images/templates/para-empresa/demo-01.png" alt=""></div>
        <p>Controle suas despesas através de relatórios gerenciais, além de extrair faturas diárias ou mensais, tudo online.</p>
    </div>
    <div class="col-md-4 para-empresa__legend" data-bottom-top="opacity: 0;top:15rem;position:relative" data-center="opacity:1;top:0">
        <div class="para-empresa__badge"><img src="{{config.urls.site}}images/templates/para-empresa/demo-02.png" alt=""></div>
        <p>Redução em até 40% nos custos de viagens por meio da utilização da ferramenta.</p>
    </div>
    <div class="col-md-4 para-empresa__legend" data-bottom-top="opacity: 0;top:15rem;position:relative" data-center="opacity:1;top:0">
        <div class="para-empresa__badge"><img src="{{config.urls.site}}images/templates/para-empresa/demo-03.png" alt=""></div>
        <p>Forma de pagamento diferenciada, através de cartão de crédito virtual, com até 40 dias para pagamento além de seguro viagem sem custo.</p>
    </div>    
</div>

<div class="row para-empresa__bg-white">
    <div class="col-md-4 para-empresa__legend" data-bottom-top="opacity: 0;top:15rem;position:relative" data-center="opacity:1;top:0">
        <div class="para-empresa__badge"><img src="{{config.urls.site}}images/templates/para-empresa/demo-04.png" alt=""></div>
        <p>Prestamos suporte aos eventos da sua empresa em qualquer parte do mundo.</p>
    </div>
    <div class="col-md-4 para-empresa__legend" data-bottom-top="opacity: 0;top:15rem;position:relative" data-center="opacity:1;top:0">
        <div class="para-empresa__badge"><img src="{{config.urls.site}}images/templates/para-empresa/demo-05.png" alt=""></div>
        <p>Atendimento preferencial: Suporte em aeroportos e atendimento emergencial.</p>
    </div>
    <div class="col-md-4 para-empresa__legend" data-bottom-top="opacity: 0;top:15rem;position:relative" data-center="opacity:1;top:0">
        <div class="para-empresa__badge"><img src="{{config.urls.site}}images/templates/para-empresa/demo-06.png" alt=""></div>
        <p>Locação de veículos, documentação para viagens, seguro viagem, compra de moeda estrangeira. Tudo online.</p>
    </div>
</div>

<div class="row para-empresa__video para-empresa__bg-white">
    <div class="col-md-6 para-empresa__video--left">
        <div class="row">
            <div class="para-empresa__white"></div>
            <div class="para-empresa__video--video" data-bottom-top="position:relative;left:-15rem" data-center="left:0"><iframe width="420" height="315" src="https://www.youtube.com/embed/MThQiRoV2ac" frameborder="0" allowfullscreen></iframe></div>
        </div>
        <div class="row">
            <h2 class="para-empresa__video--title" data-bottom-top="opacity: 0;position:relative;top:-5rem" data-center="opacity:1;top:0">AINDA NÃO É<br>CLIENTE?</h2>
        </div>
    </div>
    <div class="col-md-6" data-bottom-top="opacity: 0;" data-center="opacity:1;">
        <p>A Travel Plus está no mercado para firmar um compromisso de parceria com seus clientes, contribuindo, facilitando e proporcionando aos executivos viagens seguras e pacíficas, para que a partir delas sejam gerados negócios lucrativos para sua empresa.</p>
    
        <p>Simplificadora, contamos com uma estrutura na qual o cliente tem acesso aos nossos serviços de forma on-line, através do sistema self-booking que integra todas as empresas aéreas e mais de 5.000 hotéis em uma só ferramenta que esta disponível também na forma mobile. Contamos também com uma equipe de consultores para atender as demandas de viagens de negócios.</p>
    </div>
</div>

<div class="row para-empresa__contact">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8" data-bottom-top="opacity: 0;position:relative;left:-15rem" data-center="opacity:1;left:0">
                <p>Deixe seus dados, nosso especialista de contas entrará em contato em até 24h.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6" data-bottom-top="opacity: 0;position:relative;left:15rem" data-center="opacity:1;left:0">
        <form action="" class="para-empresa__form">
            <div class="row">
                <div class="col-md-12">
                    <label class="para-empresa__label">
                        <span>Nome:</span>
                        <input type="text" name="name" tabindex="" maxlength="200" autofocus class="para-empresa__input--text name required">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="para-empresa__label">
                        <span>Telefone:</span>
                        <input type="text" name="phone" tabindex="" maxlength="15" class="para-empresa__input--text phone required">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="para-empresa__label">
                        <span>E-mail:</span>
                        <input type="text" name="email" tabindex="" maxlength="200" class="para-empresa__input--text email required">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="para-empresa__label">
                        <span>Empresa:</span>
                        <input type="text" name="company" tabindex="" maxlength="200" class="para-empresa__input--text company required">
                    </label>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-inline-block" type="submit">RECEBER CONTATO</button>
            </div>
        </form>
        <div class="para-empresa__form--message">
            <h3>Suas informações foram enviadas com sucesso!</h3>
            <button class="btn btn-inline-block para-empresa__send-new">Enviar outras</button>
        </div>
    </div>
</div>