html{
    font-size: 10px;
    min-width: 320px;
}

body{   
    font-family: $fontLight;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-x: hidden;
}

#content {
    padding: 0 4rem;
}

.row{
    margin:0;
}

a {
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        color: inherit;
        text-decoration: none;
    }
}

div[class*="col-md-"]{
    margin: 0;
    padding: 0;
}

.notes{
    width: 100%;
    height: 9rem;
    text-align: center;
    overflow: hidden;
    background: white;
    position: relative;
    
    p{
        margin: 0;
        padding: 0;
        color:#b8b8b8;
        font-size: 1.7rem;
    }
}
.notes__socials{
    list-style: none;
    margin: 1.3rem 0 1rem;
    li{
        display: inline-block;
    }
}

.note__socials--link{
    display: block;
    background: #b2b1b0;
    @include border-radius(50%);
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    font-size: 1.4rem;
    padding: .38rem;
    margin: .25rem;
    &:hover,&:focus, &:active{
        color: white;
        outline: 0; 
    }

    &.facebook{
        &:hover,&:active,&:focus{
            background: #3b5998;
        }
    }
    &.twitter{
        &:hover,&:active,&:focus{
            background: #0084b4;
        }
    }
    &.linkedin{
        &:hover,&:active,&:focus{
            background: #4875B4;
        }
    }
    &.youtube{
        &:hover,&:active,&:focus{
            background: #FF3333;
        }
    }
    &.google{
        &:hover,&:active,&:focus{
            background: #C63D2D;
        }
    }    
}

a, button {
    @include transition(all 0.5s ease);
}

.btn{
    background: $link;
    @include border-radius(6px);
    color: white;
    font-size: 1.4rem;
    font-family: $fontRegular;
    display: inline-block;
    width: 100%;

    &:hover,&:focus, &:active{
        background: rgba($link,.5);
        color:$link;
        outline-color: $link;
    }
}

.btn-inline-block{
    width: auto !important;
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;
}

.btn-primary{
    background: #00aeef;
    border-color: #00aeef;
    &:hover,&:focus, &:active{
        background: #0380af;
        color:white;
        outline-color: #0380af;
    }
}

.back-top {
    display: none;
    .back-top__button{
        @include transition(all 0.5s ease);
        width: 4rem;
        height: 4rem;
        background: $link image-url('modules/topbar/bullet-top.png') center 1.6rem/50% no-repeat;
        position: fixed;
        right: 6rem;
        bottom: 2rem;
        @include border-radius(50%);
        z-index: 300;
        @include opacity(.5);
        cursor: pointer;

        &:hover, &:focus{
            @include opacity(1);
            background-position: center;
        }
        &:active{
            background-color:#186570;
        }
    }
}

@media(max-width: 768px){
    .notes{
        height: 50px;
    }
    .notes__socials{
        padding: 0;
        padding-top: 5px;
    }
    .note__socials--link{
        width: 25px;
        height: 25px;
        margin: 5px;
        font-size: 14px;
        padding: 4px;
    }
    .notes p{
        display: none;
    }
    .back-top{
        display: none!important;
    }

    .btn-inline-block{
        width: 100% !important;
        border-radius: 4px;
        height: 30px;
        font-size: 14px;
        padding: 0;
    }
}